@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string user = Context.Session.GetString("Uname");
    int? userId = Context.Session.GetInt32("UId");
}

@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using PRN_ExamO_HE176160.Models
@using Microsoft.AspNetCore.Http
@model List<UserAnswer>
@*@model List<Question>*@
@*@model Tuple<List<UserAnswer>, List<Question>>*@


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,1000;1,400;1,500&family=Oswald:wght@600&family=Roboto:wght@100;400;500;700&display=swap" rel="stylesheet">

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://unpkg.com/jquery"></script>

<style>


    body {
        background-color: #fbfbfb;
        padding: 0 !important;
    }

    * {
        font-family: 'Bebas Neue', sans-serif;
        font-family: 'Nunito', sans-serif;
        font-family: 'Oswald', sans-serif;
        font-family: 'Roboto', sans-serif;
        color: #4d4d4d;
        /*border: 1px solid red !important;*/
        transition: .3s all ease;
    }

    .login-user {
        display: flex;
        flex-direction: row;
        align-items: center;
        /*justify-content: flex-end;*/
        justify-content: space-between;
        margin: 1rem 2rem;
    }

        .login-user ion-icon {
            font-size: 1.5rem;
            cursor: pointer;
        }

    .index-header {
        min-height: 150px;
        margin: 0 2rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        font-size: 3rem;
        overflow: hidden;
    }

    .user-answer{
        display:flex;
        flex-direction:row;
    }

    .ua-tb {
        width:100%;

        padding:2rem;
    }

    .ua-tb td {
        text-align:center;
        
    }
</style>

<section class="login-user">
    <a href="/home"><ion-icon name="chevron-back-outline"></ion-icon></a>

    @if (user != null && !user.Trim().Equals(""))
    {
        <span>@user&nbsp</span>
    }
</section>
<section class="index-header">
    <span>@ViewBag.ExamId : @ViewBag.ExamName</span>
    <span>Mark: @ViewBag.Mark / 10</span>
</section>



@*<h1>this is exam result</h1>
<span>@ViewBag.ExamId : @ViewBag.ExamName</span>*@

<table class="ua-tb">
    <thead>
        <th>
            Question Id
        </th>
        <th>
            Question
        </th>
        <th>
            User Answer
        </th>
        
        <th>
            Correct Answer
        </th>
    </thead>
    <tbody>
        
        @foreach (UserAnswer ua in Model){

            @if (userId == ua.UserId && @ViewBag.ExamId == ua.ExamId)
            {
                <tr style="@(ua.SelectedOption?.IsCorrectOption == true ? "" : "background-color:palevioletred;")">
                    <td>
                        @ua.QuestionId
                    </td>
                    <td>
                        @ua.Question.QuestionText
                    </td>
                    <td>
                        @ua.SelectedOption.OptionText
                    </td>
                    <td>
                        @{
                            var correctOption = ua.Question.Options.FirstOrDefault(o => o.IsCorrectOption == true);
                        }
                        @correctOption?.OptionText
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@*<h2>User Answers</h2>
<table>
    <thead>
        <tr>
            <th>User Answer ID</th>
            <th>User ID</th>
            <th>Exam ID</th>
            <th>Question ID</th>
            <th>Selected Option ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userAnswer in Model.Item1)
        {
            <tr>
                <td>@userAnswer.UserAnswerId</td>
                <td>@userAnswer.UserId</td>
                <td>@userAnswer.ExamId</td>
                <td>@userAnswer.QuestionId</td>
                <td>@userAnswer.SelectedOptionId</td>
            </tr>
        }
    </tbody>
</table>

<h2>Question List</h2>
<table>
    <thead>
        <tr>
            <th>Question ID</th>
            <th>Exam ID</th>
            <th>Question Text</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var question in Model.Item2)
        {
            <tr>
                <td>@question.QuestionId</td>
                <td>@question.ExamId</td>
                <td>@question.QuestionText</td>
            </tr>
        }
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th>User ID</th>
            <th>Exam ID</th>
            <th>Question ID</th>
            <th>Question Text</th>
            <th>Question isCorrectOption</th>
            <th>User Answer Option</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userAnswer in Model.Item1)
        {
            var question = Model.Item2.FirstOrDefault(q => q.QuestionId == userAnswer.QuestionId);

            <tr>
                <td>@userAnswer.UserId</td>
                <td>@userAnswer.ExamId</td>
                <td>@userAnswer.QuestionId</td>
                <td>@question.QuestionText</td>
                <td>@question.Options.FirstOrDefault(o => o.IsCorrectOption == true)?.OptionText</td>
                <td>@userAnswer.SelectedOption?.OptionText</td>
            </tr>
        }
    </tbody>
</table>*@


